name: Build and Deploy to Azure Container Apps

on:
  push:
    branches: [ 'master' ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Install azd
        run: |
          curl -fsSL https://aka.ms/install-azd.sh | bash
          azd --version

      - name: Preview provisioning
        run: |
          azd provision --preview

      - name: Deploy with azd
        run: |
          azd deploy --yes
